<p>
  
  <% if bike.try(:photo) %>
    <%= bike.photo.to_html %>
  <% end %>

  <strong>Title:</strong>
  <%= bike.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= bike.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= bike.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= bike.status %>
</p>

<%= link_to 'Edit', edit_bike_path(bike) %> |
<td><%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<br>
<br>

<button toggles='#new-comment'>
  <b> New comment </b>
</button>

<br>

<div class='hidden' id="new-comment">
  <%= render "comments/form", bike: bike %>
</div>

<br>

<button toggles='<%= "#bike-#{bike.id}-comments" %>'
        name='<%= "#bike-#{bike.id}-comments" %>'>
  show <%= bike.comments.count %> comments
</button>
<br>
<br>

<div id="<%= "bike-#{bike.id}-comments" %>" class='hidden'>
  <% bike.comments.each do |comment| %>
    <div class='comment'>
      <%= render "comments/show", comment: comment %>
    </div>
  <% end %>
</div>

