<!DOCTYPE html>
<html>
<head>
  <title>RailsBikes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "pages/javascript_warning" %>

<div id="headers">
  <%= render "pages/header1" %>
  <%= content_for :header2 %>
  <%= content_for :header3 %>
</div>

<div id="notices">
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>

<%= yield %>

</body>
</html>
